<!-- //     item_name: 'what',
//     item_quantity: 2,
//     item_price: 2,
//     item_imageurl: null -->
<div>
  <span><%= item.item_name %></span>
  <span><%= item.item_price %></span>
  <span><%= item.item_quantity %></span>
  <img src="<%= item.item_imageurl %>" alt="Picture of <%= item.item_name %>" />
</div>
