<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='styles.css'>
    <title>View <%= category.name %></title>
  </head>
  <body>
    <%- include('../components/navbar') %>
    <h1><%= category.name %></h1>
    <h2>Items</h2>
    New Item
    <%- include('../components/itemForm',{url: '/item/new'}) %>

    <% if (items) { %>
      <ul>
      <% items.forEach( item => { %>
        <li>
          <span><%= item.name %></span>
          <span><%= item.quantity %></span>
          <span><%= item.price %></span>
          <img src='<%= item.imageurl %>' alt='Picture of <%= item.name %>'>
          <img><%= item.imageurl %></img>
          <a href='/item/<%= item.id %>/edit'>Edit</a>
          <form action='/item/<%= item.id %>/delete' method='post'>
            <input type='text' name='category_id' value='<%= category.id %>' hidden>
            <button type='submit'>Delete</button>
          </form>
        </li>
      <% }) %>
      </ul>
    <% } %>
  </body>
</html>
