<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= category.name %></title>
  </head>
  <body>
    <h1><%= category.name %></h1>
    <h2>Items</h2>
    New Item
    <%- include('../components/itemForm',{url: '/item/new'}) %>

    <% if (items) { %>
      <ul>
      <% items.forEach( item => { %>
        <li>
          <span><%= item.name %></span>
          <span><%= item.quantity %></span>
          <span><%= item.price %></span>
          <span><%= item.imageurl %></span>
          <a href='/item/<%= item.id %>/edit'>Edit</a>
          <form action='/item/delete' method='post'><button type='submit'>Delete</button></form>
        </li>
      <% }) %>
      </ul>
    <% } %>
  </body>
</html>
